.App {
  text-align: center;
}

.header img{
  /* background: url('https://i.imgur.com/tcrY8Qz.png'); */
  /* background-size: cover; */
  background-position: center;
  background-attachment: fixed;
  max-width: 100%;
  max-height: 100%;
  /* margin: 90px 0px 90px 0px; */
}

.nav {
  position: relative;
  background-color: lightpink;
  padding: 10px 0px;
  z-index: 2 
  /* ^ specifies a stack order, so it would be higher than the image */
}

.home, .recipes, .abt {
  display: inline-block;
  padding: 0px 150px;
  margin-top: 10px;
}


.title {
  margin-top: -75px;
}
