.App {
  text-align: center;
}

/* banner */
.header {
  width: 100%;
  height: 400px;
  background: url('https://i.imgur.com/GPxNPJW.jpg');
  contain: content;
  background-position: center bottom;
  /* position: fixed; */
  /* top: 0; */
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.header img{
  /* background: url('https://i.imgur.com/tcrY8Qz.png'); */
  background-size: cover;
  background-position: bottom;
  /* background-attachment: fixed; */
  /* margin: 90px 0px 90px 0px; */
  z-index: 0;
  background-color: grey;
}


.nav {
  position: relative;
  display: flex;
  background-color: rgba(234,138,149,0.6);
  padding: 10px 0px;
  bottom: 0;
  align-items: bottom;
  width: 100%;
  justify-content: space-evenly;
  border: 1px solid white;
}

.home, .recipes, .abt {
  display: inline-block;
  color: white;
}

.imgDiv {
  height: 361.5px;
}

.title {
  /* position: relative; */
  width: 100%;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 170px;
  font-family: 'satisfy', cursive;
}

/* display images */
.pic {
  width: 50%;
  border: 2px solid lightgrey;
  border-radius: 20px;
}

/* home page */
.blog {
  margin: 70px 0 50px;
}

h2 {
  margin-top: 10px;
}

.name {
  margin-top: 50px;
}

/* about me page */
p {
  width: 70%;
  margin: 30px auto;
}

.hi {
  margin: 20px 0 20px;
}

.vanberry {
  border: 5px solid lavenderblush;
}